on:
  schedule:
    - cron:  '0 1 1 * *'  # UTC 01:00 on the first day of the Month

name: Release
permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Release
        run: make release
