name: Release

on:
  schedule:
    - cron: '0 1 1 * *'  # UTC 01:00 on the first day of the Month

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Release
        run: make release
